<a href="https://colab.research.google.com/github/qcesarp/CourtCounter/blob/master/PrimeraClase.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Bien venidos al curso de Python

### Mi primer Hola Mundo!

In [ ]:
print("Hola Mundo")
print(100)

Hola Mundo
100

### Caracteres de escape y nueva línea

In [ ]:
print("Linea 1\nLinea 2")
print()
print("Linea 3\t\tLinea 4")
print()
print('I\'m Python')
print("\"I'm\"\n\"\"learning\"\"\n\"\"\"Python\"\"\"")

Linea 1
Linea 2

Linea 3		Linea 4

I'm Python
"I'm"
""learning""
"""Python"""

In [ ]:
#Impresion multinea
print(
"""
+================================+
| ¡Bienvenido a mi juego, muggle!|
| Introduce un número entero     |
| y adivina qué número he        |
| elegido para ti.               |
|¿Cuál es el número secreto?     |
+================================+
""")

+================================+
| ¡Bienvenido a mi juego, muggle!|
| Introduce un número entero     |
| y adivina qué número he        |
| elegido para ti.               |
|¿Cuál es el número secreto?     |
+================================+

### Argumentos de palabras clave

In [ ]:
print("Python", "es", "genial", sep="-")
print("Cargando", end="... ")
print("¡Listo!")

Python-es-genial
Cargando... ¡Listo!

## Tipos de datos

In [ ]:
cadena = str("hola")
cadena2 = "python"
print(cadena,cadena2)
entero = int('5')
ent = 50
print(entero,ent)
flotante = float("3.1416")
fl = 2.7182
print(flotante,fl)
booleano = bool("True")
bl = False
print(booleano,bl)

hola python
5 50
3.1416 2.7182
True False

## Operadores - herramientas de manipulación de datos

### Operadores Básicos

In [ ]:
#Potenciacion
print(2 ** 3)
print(2 ** 3.)
print(2. ** 3)
print(2. ** 3.)

8
8.0
8.0
8.0

In [ ]:
#Multiplicacion
print(2 * 3)
print(2 * 3.)
print(2. * 3)
print(2. * 3.)

6
6.0
6.0
6.0

In [ ]:
#Division
print(6 / 3)
print(6 / 3.)
print(6. / 3)
print(6. / 3.)

2.0
2.0
2.0
2.0

In [ ]:
#Division entera
print(6 // 3)
print(6 // 3.)
print(6. // 3)
print(6. // 3.)

2
2.0
2.0
2.0

In [ ]:
#Modulo
print(14 % 4)

2

In [ ]:
#Suma
print(-4 + 4)
print(-4. + 8)

0
4.0

In [ ]:
#Resta
print(-4 - 4)
print(4. - 8)

-8
-4.0

In [ ]:
#Operadores y parentesis
print((5 * ((25 % 13) + 100) / (2 * 13)) // 2)

10.0

## Variables

In [ ]:
#Palabras reservadas de python
kw = ['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
print(kw)

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
# Declarar una variable
var = 1
print(var)

1

In [ ]:
# Asignar un nuevo valor a una variable ya existente
var = 1
print(var)
var = var + 1
print(var)

1
2

In [ ]:
# Resolviendo problemas matematicos simples
a = 3.0
b = 4.0
c = (a ** 2 + b ** 2) ** 0.5
print("c =", c)

c = 5.0

In [ ]:
# Operadores abreviados
var,i,j,rem,x = 1,1,1,1,1
i = i + 2 * j
i += 2*j
print(i)

var = var / 2
var /= 2
print(var)

rem = rem % 10
rem %= 10
print(rem)

j = j - (i + var + rem)
j -= (i + var + rem)
print(j)

x = x ** 2
x **= 2
print(x)

5
0.25
1
-11.5
1

## Interacción con el usuario

### La función input()

In [ ]:
nombre = input("cual es tu nombre: ")
print("Hola ", nombre)

cual es tu nombre: python
Hola  python

In [ ]:
tuNombre = input("Cual es tu nombre? ")
tuEdad = input("Cual es tu edad? ")
print("tu nombre es",tuNombre,"y tu edad es",tuEdad)

Cual es tu nombre? python
Cual es tu edad? 10
tu nombre es python y tu edad es 10

### Conversión de tipos

In [ ]:
print(tuEdad*3)

print(type(tuNombre))
print(type(tuEdad))

tuEdad = int(tuEdad)
print(type(tuEdad))

101010
<class 'str'>
<class 'str'>
<class 'int'>

In [ ]:
#Operaciones con cadenas
print(tuNombre*3, sep="*")

print(" "*5,"*")
print(" "*4,"*"*3)
print(" "*3,"*"*5)
print(" "*2,"*"*7)
print(" "*1,"*"*9)
print(" "*0,"*"*11)
print(" "*5,"|")

pythonpythonpython
      *
     ***
    *****
   *******
  *********
 ***********
      |

In [ ]:
#Triangulo Rectangulo
a = float(input("Ingresa la longitud del primer cateto: "))
b = float(input("Ingresa la longitud del segundo cateto: "))
print("La longitud de la hipotenusa es " + str((a**2 + b**2) ** .5))

Ingresa la longitud del primer cateto: 4
Ingresa la longitud del segundo cateto: 6
La longitud de la hipotenusa es 7.211102550927978

## Operadores

In [ ]:
#Igualdad "=="
print(var == 0)
var *=0
print(var == 0)

False
True

In [ ]:
#Desigualdad "!="
var = 0
print(var != 0)

var = 1
print(var != 0)

False
True

In [ ]:
#Operador de comparación: mayor que
print(var > 5)

False

In [ ]:
#Operador de comparación: mayor o igual que
print(var >= 0.0)

True

In [ ]:
#Operador de comparación: menor que
print(var < 5)

True

In [ ]:
#Operador de comparación: menor o igual que
print(var<=85)

True

## Condiciones y control de flujo

### La sentencia if

In [ ]:
edad = 20
if  edad >= 18:
    print('Su edad es',edad,", es mayor de edad")

Su edad es 20 , es mayor de edad

In [ ]:
dia = 25
if dia == 25:
  print("Hoy es Navidad!...")

Hoy es Navidad!...

### La sentencia if-else

In [ ]:
dia = 24
if dia <= 24:
    print("Falta poco para Navidad...")
else:
    print("Ya llego Navidad")

Falta poco para Navidad...

### if-else anidadas

In [ ]:
dia = 2
nieve = True
if dia == 25:
  if nieve:
    print('Es un dia de Navidad con Niveve...')
  else:
    print('Es Navidad pero no esta Nevando...')
else:
  if dia <= 25:
    print('Faltan pocos dias para Navidad...')
  else:
    print("Ya paso Navidad...")

Faltan pocos dias para Navidad...

### La sentencia elif

In [ ]:
dia = 26
if dia == 25:
  print('Hoy es Navidad')
elif dia == 24:
  print('Hoy es Noche buena')
elif dia == 23:
  print('Faltan dos dias para Navidad')
elif dia <= 25:
  print('Faltan pocos dias para Navidad')
else:
  print('Ya paso Navidad')

Ya paso Navidad

## Bucles

### Bucle While

In [ ]:
#Bucle While
contrasena = "1234"
intento = ""
while intento != contrasena:
    intento = input("Introduce tu Contrasena: ")

    if intento != contrasena:
        print("PIN incorrecto. Inténtalo de nuevo.")

print("¡Acceso concedido!")

Introduce tu Contrasena: 121212
PIN incorrecto. Inténtalo de nuevo.
Introduce tu Contrasena: 12345
PIN incorrecto. Inténtalo de nuevo.
Introduce tu Contrasena: 1234
¡Acceso concedido!

In [ ]:
contador = 5
while contador:
    print("Dentro del bucle.", contador)
    contador -= 1
print("Fuera del bucle.", contador)

Dentro del bucle. 5
Dentro del bucle. 4
Dentro del bucle. 3
Dentro del bucle. 2
Dentro del bucle. 1
Fuera del bucle. 0

### Bucle for

In [ ]:
for i in range(10):
  pass

In [ ]:
for i in range(2, 9, 3):
    print("El valor de i es", i)

El valor de i es 2
El valor de i es 5
El valor de i es 8

### Las sentencias break y continue

In [ ]:
#Break
print("La instrucción break:")
for i in range(1, 6):
    if i == 3:
        break
    print("Dentro del bucle.", i)
print("Fuera del bucle.")

La instrucción break:
Dentro del bucle. 1
Dentro del bucle. 2
Fuera del bucle.

In [ ]:
#Continue
print("\nLa instrucción continue:")
for i in range(1, 6):
    if i == 3:
        continue
    print("Dentro del bucle.", i)
print("Fuera del bucle.")

La instrucción continue:
Dentro del bucle. 1
Dentro del bucle. 2
Dentro del bucle. 4
Dentro del bucle. 5
Fuera del bucle.

In [ ]:
palabra = input('Ingresa una palabra en minusculas...')
resultado = ""
for letra in palabra:
  if letra == "a" or letra == "e" or letra == "i" or letra == "o" or letra =="u":
    continue
  resultado += letra
print(resultado)

Ingresa una palabra en minusculas...murcielago
mrclg

### El bucle while y el bloque else

In [ ]:
i = 1
while i < 5:
    print(i)
    i += 1
else:
    print("else:", i)

### El bucle for y el bloque else

In [ ]:
for i in range(5):
    print(i)
else:
    print("else:", i)

In [ ]:
#Arbol de Navidad


altura = 10
for i in range(1,altura+1):
  print(" "*(altura-i),"*"*(i*2-1))
print(" "*(altura-1),"|")

          *
         ***
        *****
       *******
      *********
     ***********
    *************
   ***************
  *****************
 *******************
          |

## Operadores Lógicos

### El operador and

In [ ]:
contador = 1
valor = 100
contador > 0 and valor == 100

True

### El operador or

In [ ]:
contador = 1
valor = 99
contador > 0 or valor == 100

True

### El operador not

In [ ]:
contador = 1
valor = 100
not(contador > 0 or valor == 100)

False

### Operaciones Logicas

In [ ]:
p,q = False,True
print(not (p and q) == (not p) or (not q))
print(not (p or q) == (not p) and (not q))

True
False

### Operadores Bit a Bit

In [ ]:
print(10&12)
print(10 and 12)

print(10|12)
print(10 or 12)

print(~(10&12))
print(~10)
print(10^12)

print('desplazamiento Binario')
print(10>>1)
print(10<<1)

8
12
14
10
-9
-11
6
desplazamiento Binario
5
20

## Listas

In [ ]:
numeros = [10, 5, 7, 2, 1]
print(numeros)

frutas = ['Manzana','Frutilla','Pera','Banana']
print(frutas)

vocales = list('aeiou')
print(vocales)

#list("dentro debe ir un objeto iterable")
numero = list('12345')
print(numero)

[10, 5, 7, 2, 1]
['Manzana', 'Frutilla', 'Pera', 'Banana']
['a', 'e', 'i', 'o', 'u']
['1', '2', '3', '4', '5']

### Indexacion de listas

In [ ]:
colores = ["rojo", "verde", "azul", "amarillo"]
# Índice:    0        1        2         3
print(colores)

['rojo', 'verde', 'azul', 'amarillo']

In [ ]:
# enumerate(), te entrega dos cosas: el número del índice y el valor que está guardado ahí.
for i,color in enumerate(colores):
  print("indice:",i,",","valor: ",color)

print("\nModificar el indice")
for i,color in enumerate(colores,start=10):
  print("indice: ",i,',',"valor: ",color)

indice: 0 , valor:  rojo
indice: 1 , valor:  verde
indice: 2 , valor:  azul
indice: 3 , valor:  amarillo

Modificar el indice
indice:  10 , valor:  rojo
indice:  11 , valor:  verde
indice:  12 , valor:  azul
indice:  13 , valor:  amarillo

In [ ]:
#index(), Buscar el indice de un valor especifico
posicion = colores.index("azul")
print(posicion)

2

In [ ]:

numeros = [10, 5, 7, 2, 1]
print("Contenido de la lista:", numeros)

numeros[0] = 111
print("Nuevo contenido de la lista: ", numeros)

Contenido de la lista: [10, 5, 7, 2, 1]
Nuevo contenido de la lista:  [111, 5, 7, 2, 1]

In [ ]:
#Copiar el valor de [4] en [1]
numeros = [10,5,7,2,1]
numeros[1] = numeros[4]
print("Nuevo contenido de la lista:", numeros)

Nuevo contenido de la lista: [10, 1, 7, 2, 1]

### Acceso al contenido de las listas

In [ ]:
print(numeros[1])

#Operador de desempaquetado
print(*numeros)

numeros = [10,5,7,2,1]
lista2 = numeros
print(numeros)

lista2[2] = 0
print(numeros)

print('Usando el operador de desempaquetado')
lista3 = [*numeros]
print(numeros)
lista3[2] = 99
print(numeros)
print(lista3)

1
10 1 7 2 1
[10, 5, 7, 2, 1]
[10, 5, 0, 2, 1]
Usando el operador de desempaquetado
[10, 5, 0, 2, 1]
[10, 5, 0, 2, 1]
[10, 5, 99, 2, 1]

### La función len()

In [ ]:
print(len(numeros))
print(len('Hola Mundo!!'))
print(len('--'*5))

5
12
10

In [ ]:
#La funcion len() es una operación O(1) (Tiempo Constante)
palabras = ["Python", "es", "genial"]
total = sum(len(p) for p in palabras)
print(total)

14

### Eliminando elementos de una lista

In [ ]:
#del es universal para python, elimina por indice
del numeros[1]
print(len(numeros))
print(numeros)

4
[10, 0, 2, 1]

In [ ]:
numeros = [111, 7, 2, 1]
print(numeros[-1])
del(numeros[-1])
print(numeros)

1
[111, 7, 2]

In [ ]:
#Deja la lista en blanco
carrito = ["pan", "leche"]
carrito.clear()

print(carrito)

In [ ]:
#remove elimina el por valor

invitados = ["Ana", "Juan", "Pedro", "Maria", "Juan"]
invitados.remove("Juan")

print(invitados)

['Ana', 'Pedro', 'Maria', 'Juan']

In [ ]:
#pop elimina de  la lista y devuelve el elemento
frutas = ["manzana", "pera", "platano"]
primera = frutas.pop(0)

print(primera)
print(frutas)
print(frutas.pop(1))
print(frutas)

manzana
['pera', 'platano']
platano
['pera']

### Agregando elementos a una lista: append() y insert()

In [ ]:
#Agregar al final
numeros = [111, 7, 2, 1]
print(len(numeros))
print(numeros)

numeros.append(4)

print(len(numeros))
print(numeros)

4
[111, 7, 2, 1]
5
[111, 7, 2, 1, 4]

In [ ]:
#Agregar en medio
numeros.insert(0, 222)
print(len(numeros))
print(numeros)

6
[222, 111, 7, 2, 1, 4]

In [ ]:
#Unir dos listas
nombres1 = ["Ana", "Beto"]
nombres2 = ["Cati", "Dani"]

nombres1.extend(nombres2)
print(nombres1)

['Ana', 'Beto', 'Cati', 'Dani']

### Ordenamiento Burbuja

In [ ]:
numeros = [8,10,6,12,2,4]

intercambio = True
while intercambio:
    intercambio = False
    for i in range(len(numeros) - 1):
        if numeros[i] > numeros[i + 1]:
            intercambio = True
            numeros[i], numeros[i + 1] = numeros[i + 1], numeros[i]

print(numeros)

[2, 4, 6, 8, 10, 12]

In [ ]:
#Ordenamiento por Selección
numeros = [8,10,6,2,12,4]

for i in range(len(numeros)):
  for j in range(i+1,len(numeros)):
    if numeros[i] > numeros[j]:
      numeros[i],numeros[j]=numeros[j],numeros[i]

print(numeros)

[2, 4, 6, 8, 10, 12]

### El Método Definitivo: .sort() vs sorted()

#### sort()

In [ ]:
#Es un método. Ordena la lista original (in-place).

notas = [45, 89, 32, 100, 75, 89]
notas.sort(reverse=True)
print("La nota más alta fue: ",notas[0])
print("El top 3 es: ",notas[:3])

La nota más alta fue:  100
El top 3 es:  [100, 89, 89]

#### sorted()

In [ ]:
#Es una función. Te devuelve una copia ordenada.

notas = [45, 89, 32, 100, 75, 89]

notasRanking = sorted(notas, reverse=True)

print("La nota más alta fue:", notasRanking[0])
print("El Top 3 es: ", notasRanking[:3])

La nota más alta fue: 100
El Top 3 es:  [100, 89, 89]

## Operaciones con listas

### Rebanadas

In [ ]:
# lista[inicio : fin : salto]
numeros = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(numeros[2:6])

[2, 3, 4, 5]

In [ ]:
lista1 = [1]
lista2 = lista1[:]
lista1[0] = 2
print(lista2)
print(lista1)

[1]
[2]

### índices negativos

In [ ]:
miLista = [10, 8, 6, 4, 2]
nuevaLista = miLista[-1:1]
print(nuevaLista)

[]
[]

In [ ]:
#La regla y los espacios
#Índices:   0     1     2     3     4     5  (Positivos)
#           | 10  |  8  |  6  |  4  |  2  |
#Negativos: -5    -4    -3    -2    -1     (Donde termina la lista)

In [ ]:
miLista = [10, 8, 6, 4, 2]
nuevaLista = miLista[:3]
print(nuevaLista)

[10, 8, 6]

In [ ]:
#Lista al reves
print(miLista)
nuevaLista = miLista[::-1]
print(nuevaLista)

[10, 8, 6, 4, 2]
[2, 4, 6, 8, 10]

### Los operadores in y not in

In [ ]:
lista = [0, 3, 12, 8, 2]

print(5 in lista)
print(5 not in lista)
print(12 in lista)

False
True
True

In [ ]:
#El operador + (Concatenación)
a = [1, 2, 3]
b = [4, 5, 6]

print(a + b)

[1, 2, 3, 4, 5, 6]

In [ ]:
#El operador * (Replicación)
puntos = [0] * 5
print(puntos)

mensaje = ["Hola"] * 3
print(mensaje)

[0, 0, 0, 0, 0]
['Hola', 'Hola', 'Hola']

### Listas dentro de listas

In [ ]:
#lista[fila][columna]

matriz = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
print(matriz[1][2])
print(matriz[1:])

6
[[4, 5, 6], [7, 8, 9]]

In [ ]:
tienda = [["Manzanas", 5], ["Peras", 3]]

tienda[0][1] = 10

tienda.append(["Uvas", 8])

print(tienda)

[['Manzanas', 10], ['Peras', 3], ['Uvas', 8]]

In [ ]:
fila = [0, 0]
tablero = [fila] * 3

tablero[0][0] = 9
print(tablero)

datos = ["A", ["B", "C", "D"], "E"]
print(datos[1][1])

[[9, 0], [9, 0], [9, 0]]
C

### Comprensión de lista (List Comprehensions)

In [ ]:
cuadrados = [x**2 for x in range(1,10,2)]
print(cuadrados)

[1, 9, 25, 49, 81]

In [ ]:
cuadrados = [x**2 for x in range(1,10)]
impares = [x for x in cuadrados if x % 2 != 0 ]
print(impares)

[1, 9, 25, 49, 81]

In [ ]:
matriz_frutas = [["manzana", "uvas"], [], ["pera", "kiwi", "arándano"], ["piña"]]

frutas_top = [f for sublista in matriz_frutas for f in sublista if len(f) > 4]

print(frutas_top)

['manzana', 'arándano']

In [ ]:
frutasTop = [frut for frut in matriz_frutas for frut in frut if len(frut) > 4]
print(frutasTop)

['manzana', 'arándano']

In [ ]:
temps = [[0.0 for h in range(24)] for d in range(31)]

print(temps)

[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]]

## Tuplas

In [ ]:
#Velocidad
#Seguridad
#Diccionarios (key)

tupla = (10, 20, 30)
lista = [40,50,60]
tupla2 = tuple(lista)
print(type(tupla2))

<class 'tuple'>

### El caso del elemento único

In [ ]:
#Tupla Vacia
vacio = ()

tupla1 = (5,)  #Si es una Tupla
noTupla = (5) # no es una tupla,es solo el número 5
print(type(tupla1))
print(type(noTupla))

<class 'tuple'>
<class 'int'>

In [ ]:
#Inmutabilidad
punto = (10, 20)
#punto[0] = 15

### Empaquetado y Desempaquetado

In [ ]:
#Empaquetado
persona = ("Luis", 25, "México")

# Desempaquetado
nombre, edad, pais = persona

print(nombre)
print(edad)

Luis
25

In [ ]:
#Intercambio de variables
a = 1
b = 2
a, b = b, a
print(a,b)

2 1

In [ ]:
mixta = (1, 2, [3, 4])
mixta[2][1] = 10
print(mixta)

(1, 2, [3, 10])

In [ ]:
#Que mas se puede hacer con las tuplas?
'''
la función len() acepta tuplas, y regresa el número de elementos contenidos dentro;
el operador + puede unir tuplas (ya se ha mostrado esto antes)
el operador * puede multiplicar las tuplas, así como las listas;
los operadores in y not in funcionan de la misma manera que en las listas.'''
tupla = (1, 10, 100)

t1 = tupla + (1000, 10000)
t2 = tupla * 3

print(len(t2))
print(t1)
print(t2)
print(10 in tupla)
print(-10 not in tupla)

9
(1, 10, 100, 1000, 10000)
(1, 10, 100, 1, 10, 100, 1, 10, 100)
True
True

## Diccionarios

In [ ]:
diccionario = {"gato": "cat", "perro": "dog", "caballo": "horse"}
numerosTelefono = {'jefe': 5551234567, 'Suzy': 22657854310}
diccionarioVacio = {}

print(diccionario)
print(numerosTelefono)
print(diccionarioVacio)

{'gato': 'cat', 'perro': 'dog', 'caballo': 'horse'}
{'jefe': 5551234567, 'Suzy': 22657854310}
{}

In [ ]:
#Otra manera de crear diccionarios

# Nota que aquí no usas comillas en las llaves
usuario = dict(nombre="Elena", edad=30, ciudad="Madrid")

print(usuario)

#A partir de una lista de tuplas
datos = [("manzana", 1.5), ("pera", 2.0), ("platano", 1.2)]
precios = dict(datos)

print(precios)
print(precios['pera'])

{'nombre': 'Elena', 'edad': 30, 'ciudad': 'Madrid'}
{'manzana': 1.5, 'pera': 2.0, 'platano': 1.2}
2.0

### Diccionarios por comprensión (Dictionary Comprehension)

In [ ]:
# Queremos un diccionario donde la llave sea un número y el valor su cuadrado
numeros = [1, 2, 3, 4]
cuadrados = {n: n**2 for n in numeros}

print(cuadrados)

### Usando el método .fromkeys()

In [ ]:
#muchas llaves pero que todas tengan el mismo valor inicial

teclas = ["arriba", "abajo", "izquierda", "derecha"]
estadoJuego = dict.fromkeys(teclas, False)

print(estadoJuego)

{'arriba': False, 'abajo': False, 'izquierda': False, 'derecha': False}

### La funcion zip()

In [ ]:
paises = ["México", "España", "Colombia"]
capitales = ["CDMX", "Madrid", "Bogotá"]

# zip une las listas, dict las convierte en diccionario
mapa = dict(zip(paises, capitales))
print(mapa)

{'México': 'CDMX', 'España': 'Madrid', 'Colombia': 'Bogotá'}

### Métodos y funciones de los diccionarios

In [ ]:
#El metodo keys()
for key in mapa.keys():
    print(key, "->", mapa[key])

México -> CDMX
España -> Madrid
Colombia -> Bogotá

In [ ]:
#El metodo values()
for valor in mapa.values():
  print(valor)

CDMX
Madrid
Bogotá

In [ ]:
#El metodo items(), lo convierte en una lista de tuplas
for llave, valor in mapa.items():
  print(llave," -> ",valor)

Bolivia  ->  La Paz
Brasil  ->  Brasilia
Chile  ->  San Tiago
Argentina  ->  Buenos Aires

### Modificar, agregar y eliminar valores

In [ ]:
#Agregando nuevas claves
mapa['Bolivia']='La Paz'
print(mapa)

#El método .update(), Si se quiere agregar varios elementos a la vez
mapa.update({'Brasil':'Brasilia','Chile':'San Tiago','Argentina':'Buenos Aires'})
print(mapa)

{'México': 'CDMX', 'España': 'Madrid', 'Colombia': 'Bogotá', 'Bolivia': 'La Paz'}
{'México': 'CDMX', 'España': 'Madrid', 'Colombia': 'Bogotá', 'Bolivia': 'La Paz', 'Brasil': 'Brasilia', 'Chile': 'San Tiago', 'Argentina': 'Buenos Aires'}

In [ ]:
#Modificar valores
mapa['Bolivia']='Sucre'
print(mapa)

{'México': 'CDMX', 'España': 'Madrid', 'Colombia': 'Bogotá', 'Bolivia': 'Sucre'}

In [ ]:
#El operador del (Borrado directo)
del mapa['México']
print(mapa)

{'España': 'Madrid', 'Colombia': 'Bogotá', 'Bolivia': 'Sucre'}

In [ ]:
#El método .pop() (Eliminar y extraer)
eliminado = mapa.pop('Colombia')
print(eliminado)
print(type(eliminado))
print(mapa)

Bogotá
<class 'str'>
{'España': 'Madrid', 'Bolivia': 'Sucre'}

In [ ]:
#El método .popitem() (Eliminar el último)
llave,valor = mapa.popitem()
print('Se elimino: ',llave,' -> ',valor)
print(mapa)

Se elimino:  Bolivia  ->  Sucre
{'España': 'Madrid'}

In [ ]:
#El método .clear() (Vaciar todo)
mapa.clear()
print(mapa)

{}

###Ordenar diccionarios

In [ ]:
#La función sorted(), oredena alfanumericamente
precios = {"naranja": 1.5, "manzana": 3.0, "banana": 2.2}

ordenado = dict(sorted(precios.items()))

print(ordenado)

{'banana': 2.2, 'manzana': 3.0, 'naranja': 1.5}

In [ ]:
ordenadoD = dict(sorted(precios.items(),reverse=True))
print(ordenadoD)

{'naranja': 1.5, 'manzana': 3.0, 'banana': 2.2}

In [ ]:
caros_primero = dict(sorted(precios.items(), key=lambda item: item[1], reverse=True))
print(caros_primero)

{'manzana': 3.0, 'banana': 2.2, 'naranja': 1.5}

In [ ]:
lista = [1,2,3,5,9]
print(lista)
lista.insert(3,4)
print(lista)
lista.insert(10,0)
print(lista)

[1, 2, 3, 5, 9]
[1, 2, 3, 4, 5, 9]
[1, 2, 3, 4, 5, 9, 0]

In [ ]:
!python --version

Python 3.12.12